  <header class="header">
    <p class="site-title-sub">----- Business Platform -----</p>
    <h1 class="site-title">Africa Business Local Knowledge</h1>
    <p class="site-description"Bridge between Africa and Japan </p>
    <div class="buttons">
      <a class="button" href="#about">Learn MORE</a>
      <a class="button button-orange" href="#contact">SEND MESSAGE</a>
  </div>
  </header>

  <section class="about" id="about">
  </section>

  <section class="knowledges">
  </section>

  <section class="contact" id="contact">
  </section>