  <header class="africa">
    <p class="site-title-sub">----- Business Platform -----</p>
    <h1 class="site-title">Africa Business Local Knowledge</h1>
    <p class="site-description"> Bridge between Africa and Japan </p>
    <div class="buttons">
      <a class="button" href="#about">Category</a>
      <a class="button button-orange" href="#contact">Contact</a>
    </div>
  </header>

  <section class="about" id="about">
    <h2>Category</h2>
    <div class="card-deck">
    <div class="card mb-3" style="max-width: 25rem;">
      <img class="card-img-top" src="/assets/agri.jpg" alt="Agricalture">
      <div class="card-body">
        <h4 class="card-title">Agricalture</h4>
        <p class="card-text">Details</p>
        <a href="https://95894f131aea4377807d09f15209e098.vfs.cloud9.ap-northeast-1.amazonaws.com/agricultures/index_agriculture">Click here</a>
      </div>
    </div>
    
    <div class="card mb-3" style="max-width: 25rem;">
      <img class="card-img-top" src="/assets/education.jpg" alt="Agricalture">
      <div class="card-body">
        <h4 class="card-title">Education</h4>
        <p class="card-text">Details</p>
        <a href="https://95894f131aea4377807d09f15209e098.vfs.cloud9.ap-northeast-1.amazonaws.com/knowledges/new">Click here</a>
      </div>
    </div>
    
    <div class="card mb-3" style="max-width: 25rem;">
      <img class="card-img-top" src="/assets/art.jpg" alt="Art">
      <div class="card-body">
        <h4 class="card-title">Art</h4>
        <p class="card-text">Click here</p>
        <a href="https://95894f131aea4377807d09f15209e098.vfs.cloud9.ap-northeast-1.amazonaws.com/knowledges/new">Details</a>
      </div>
    </div>
    
    </div>
  </section>

  <section class="knowledges">
  </section>

  <section class="contact" id="contact">
  </section>