<div class="contents row">
  <%= form_tag("/educations/#{@education.id}", method: :patch ) do %>
    <h3>
      Edit
    </h3>
    <input type="text" name="image" value="<%= @education.image %>" placeholder="Image Url" autofocus="true">
    <textarea name="text" placeholder="text" rows="10" cols="30"><%= @education.text %></textarea>
    <input type="submit" value="SEND">
  <% end %>
</div>